@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap');

* , *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

#app_container{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

html{
    background-color: black;
}

body{
    animation: fadein 1.5s; 
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) );
    min-height: 100vh;
    width: 100%;
}

/* Login screen / Account creation screen */

.login-screen {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#signup_form {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
} 

#form__group_username  , #form__group_email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Main screen */

#main_screen{
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 12fr 1fr 1fr;
    grid-template-areas: 
    'logout weather'
    'display display'
    'quotes quotes'
    'settings todo_list';
}

.logout {
    grid-area: logout;
    display: flex;
    justify-content: left;
  
}

.weather {
    grid-area: weather;
    display: flex;
    justify-content: right;
   
}

.display {
    grid-area: display;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Display Design */



.settings {
    grid-area: settings;
    display: flex;
    justify-content: left;
    align-items: end;
    
}

.quotes {
    grid-area: quotes;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo_list {
    grid-area: todo_list;
    display: flex;
    justify-content: right;
    align-items: end;
}

/* Toggle Switch Start */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.slider.round:before {
    border-radius: 50%;
}

.slider_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.slider_text_24{
    color: white;
}


/* Toggle Switch End */

#clock_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#clock {
    font-size: 10rem;
    margin: 10px;
    color: white;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#show_focus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    width: 10rem;
}

#greet_element {
    font-size: 3rem;
    color: white;
}

#focus_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

#focus_text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#focus_text_display {
    width: 10rem;
}

#focus_pitch {
    color: white;
    font-size: 3rem;
    margin-top: 1rem;
}

#focus_input{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid white;
    height: 4rem;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}


#focus_text{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    height: 4rem;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
}

#focus_text_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* Todo List Modals */

/* Modal Background */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0 , 0.4);
}

/* Todo List popup */

#form_popup {
    display: none;
    position: fixed;
    bottom: 2.5rem;
    right: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 9; 
}

#form_container {
    width: 15rem;
    height: 20rem;
    background-color: white;
    padding: 10px;
}

#open_btn {
    margin-right: 15px;
}

#todo_app_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#todo_input_text{
    width: 13.8rem;
}

#todo_display {
    margin: 5px;
    height: 15rem;
    overflow-y: auto;
}
#todo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 1px;
}

#todo_checkbox{
    margin-right: 10px;
    margin-left: 5px;
}
#todo_inputs {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#add_btn {
    margin: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.delBtn {
    margin-left: 50px;
}