@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

#app_container{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

html{
    background-color: black;
}

body{
    animation: fadein 1.5s; 
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) );
    min-height: 100vh;
    width: 100%;
}

/* Login screen  */

.login-screen {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);

}

#user_email,  #user_password {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2rem;
    width: 15rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
}

#login_btn {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    color: white;
    font-weight: bold;
    width: 15rem;
    height: 2.5rem;
    font-size: 0.8rem;
    border-color: #2196F3;
    border-radius: 5px;
    border:  0.5px;
    cursor: pointer
}
#login__title{
    padding-bottom: 5px;
}

hr{
    margin-bottom: 1rem;
}

/* Account creation screen */ 

#signup_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 


/* Welcome_screen */

#welcome_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}   

#pitch {
    line-height: 1rem;
    text-align: center;
    font-style: italic;
}
#wc_app_title{
    padding: 2rem;
    color: white;
}
#wc_container{
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}
#signup_form {
    display: flex;
    margin-left: 2rem;
    padding: 1rem;
    width: 22rem;
    color: white;
    border-radius: 5px;
}

#form__group{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form__label{
    padding-bottom: 5px;
    font-weight: bold;
}
.form__input{
    height: 2rem;
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    outline-color: blue;
}

#btnRegister{
    width: 20rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
/* Main screen */

#main_screen{
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto ;
    grid-template-rows: auto 12fr auto;
    grid-template-areas: 
    'logout weather'
    'display display'
    'quotes quotes'
    'settings todo_list';
}

.logout {
    grid-area: logout;
    display: flex;
    justify-content: left;
    align-items: flex-start ;
}

.weather {
    grid-area: weather;
    display: flex;
    justify-content: right;
    
}

.display {
    grid-area: display;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.quotes {
    grid-area: quotes;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    
    
}
/* Display Design */



.settings {
    grid-area: settings;
    display: flex;
    justify-content: left;
    align-items: end;
    
}

.todo_list {
    grid-area: todo_list;
    display: flex;
    justify-content: right;
    align-items: end;
  
}

/* Toggle Switch Start */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.slider.round:before {
    border-radius: 50%;
}

.slider_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.slider_text_24{
    color: white;
}


/* Toggle Switch End */

#clock_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    user-select: none;
}

#clock {
    font-size: 8rem;
    margin: 10px;
    color: white;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

#show_focus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid black;
    width: 10rem;
}

#greet_element {
    font-size: 2rem;
    color: white;
}

#focus_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

#focus_text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#focus_text_display {
    width: 10rem;
    display: flex;
}

#focus_pitch {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
}

#focus_input{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    height: 4rem;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}


#focus_text{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-right: 10px;
    height: 4rem;
    width: 60%;
    background-color: rgba(0, 0, 0, 0);
}

#focus_text_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delBtn {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 5px;
    padding-left: 15px;
    
}



/* Todo List Modals */

/* Modal Background */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0 , 0.4);
}

/* Todo List popup */

#form_popup {
    display: none;
    position: absolute;
    bottom: 6vh;
    z-index: 9999; 
    color: white;
}

#form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px
}

.__open_btn {
    margin-left: auto;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
}

.__close_btn{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

#todo_app_title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#todo_input_text{
    width: 100%;
    height: 2rem;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-top: 10px;
}

#todo_display {
    width: 100%;
    margin: 5px;
    height: 15rem;
    overflow-y: auto;
}
#todo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 1px;
}

#todo_checkbox{
    padding-left: 5px;
}
#todo_inputs {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.delete_btn {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 3px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}



/* Settings popup */

#settings_form_popup {
    display: none;
    position: absolute;
    margin-right: auto;
    z-index: 9999;
    bottom: 6vh;
}

#settings_form_container {
    width: 30rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

#settings_open_btn {
    margin-right: auto;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
}

#settings_close_btn{
    border: none;
    background: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 5px;
}


.set_selection{
    width: 8rem;
}
#settings_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#settings_display{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 16rem;
    font-size: small;
}

#setting{
    height: 20rem;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: small;
}

#option {
    height: 20rem;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    color: white;
 
}

li:hover{
    background-color: gray;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}   

#opt_profile{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#opt_background{
    height: 100%;
    

}
#opt_quote{
    height: 100%;
 
  
}
#settings_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
   
}

/* Settings - Profile */



#profile_form{
    padding: 5px;
}

#prof_form_group{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}   

.prof_form_label{
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.prof_form__input{
    font-size: 0.8rem !important;
    height: 2rem;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#profile__Btn{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 5px;
    margin-top: 1rem;
}

#saveProfileBtn{
    padding: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

#editProfileBtn{
    padding: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.prof_form__input:disabled{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}

.prof_form__input:enabled{
    font-size: 1rem;
    border: none;
}

/* Settings - Background */
#background_container {
    padding: 5px;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#myFile{
    font-size: small;
}

#listImages{
    display: flex;
    flex-direction: column;
    height: 11rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow-y: scroll;
    margin: 5px;
    font-size: small;
    padding: 5px;
}


#picItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 3px;
    margin: 3px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: black;
}

.BtnRemoveImg{
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
/* Quotes */

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    line-height: 1.5rem;
}

#quoteInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}


#btnQuoteAdd{
    padding: 5px;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    font-size: small;
}

#quotesDisplay{
    height: 9rem;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow-y: scroll ;
}

#quoteDiv{
    border: 1px solid white;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#quote_fg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 5px;
}

#quoteText, #quoteAuthor{
    width: 80%;
}

#btnQuoteAdd{
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.btnDeleteQuote{
    border: none;
    background: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
/* Sign Off */

#btnSignOff{
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}